[submodule "src/Sharp TV Network Remote.indigoPlugin/Contents/Server Plugin/RPFramework"]
	path = src/Sharp TV Network Remote.indigoPlugin/Contents/Server Plugin/RPFramework
	url = https://github.com/RogueProeliator/indigo-plugins-rpframework-src.git
